  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= simple_form_for @color do |f| %>
        <%= f.input :name, label: 'Nome' %>
        <%= f.input :code, label: 'Código', as: :minicolors, input_html: {data: {
              minicolors: {theme: :bootstrap, position: :right}}} %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
